body {
	margin: 0;
	padding: 0;
}

.main {
	/* display: flex; */
	display: none;
}
.content {
	width: 80%;
	height: 72vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav {
	width: 100vw;
	height: 8vh;
	background-color: aqua;
}

.col-right,
.col-left {
	width: 15%;
}
.search {
	border: 3px solid black;
}
.title {
	border: 3px solid black;
}


.result-page {
	width: 90%;
	height: 92vh;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 100px;
	align-items: center;
}

.info-box {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-gap: 15px;
	margin-bottom: 15px;
	background-color:bisque;
	padding: 10px;
}

.info-middle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.side {
	height: 70vh;
	background-color: burlywood;
}

.info-list,
.info-box,
.info-left,
.info-middle,
.info-right,
.side {
	border: red 2px solid;
}
